.container{
  background-color:#85879c;
  align-content: center;
  padding-bottom: 40px;
}

.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.formdog{
  /* align-content: center; */
  display: flex;
  flex-direction: row;
  width:45%;
  background-color: #f6ecea;
  margin: 40px auto;
  border-radius: 10px;
  text-align: center;
}

.flexer{
  flex-direction: column;
  flex:1;
}

.graydiv{
  display:flex;
  flex-direction: column;
  height:auto;
  justify-content: space-between;
background: url('/home/eleanor/bootcamp/personal-project/form-practice/public/images/dogphoto.webp') no-repeat center;
background-size: 800px;
border-radius: 10px 0px 0px 10px;
flex: 0.68;
}
.graydiv h1{
  color:white;
  font-size: 1.5rem;
  margin-top: 10px;
}
.graydiv p{
  color:white;
  font-size: 0.75rem;
margin-bottom:20px;
text-decoration: underline;
}

.divwhite{
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 0px 0px 10px 0px
}

.backbtn{
  background-color: white;
  border-radius: 20px;
  padding: 2px;
  margin: 15px auto;
  width: 80px;
  border:thin solid #85879c;
  color:#85879c;
  font-size: 0.75rem;
}

.nextbtn{
  background-color: #545871;
  border-radius: 20px;
  padding: 2px;
  margin: 15px auto;
  width: 80px;
  border:thin solid #545871;
  color:white;
  font-size: 0.75rem;
}

.rows{
  display: flex;
  flex-direction: row;
  margin: 0px 40px;
  text-align: left;
}

.column{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input{
  width: 90%;
  border: thin solid #ecd0cf;
}

::placeholder{
  color: #ecd0cf;
  font-size:0.75rem;
  padding:10px
}

.label{
  color:#545871;
  font-size: 0.75rem;
  margin-top: 8px;
  text-align: left;
}

.weight{
  display:flex;
  flex-direction: column;
  flex:1;
}

.formweight, .spey, .gender{
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items:center;
  padding: 0.2rem 3px;
  width: 75%;
  font-size: 0.6rem;
  border: thin solid #ecd0cf;
  margin: 0px auto;
  margin-bottom: 40px;
}

.weight label{
  padding: 0px 8px;
  border-radius: 2px;
}

.container input[type='radio']{
  display:none;

}

.radioinput1:checked + label, .radioinput2:checked + label, .radioinput3:checked + label, .radioinput4:checked + label{
background-color: #ecd0cf;
border: 1px solid #ecd0cf;
padding: 0px 15px;
}

.photoinput{
  border-radius: 50%;
  width: 22px;
  height:22px;
  background: url('/home/eleanor/bootcamp/personal-project/form-practice/public/images/camera.png') no-repeat center
}