.container{
  background-image:linear-gradient(to bottom right,   #ffaaab , #ffc8bf);
  align-content: center;
  padding-bottom: 40px;
}

.h2{
  font-weight: bold;
  color: #c7383a;
  font-family: arial;
  padding: 25px
}

.formpg{
  align-content: center;
  width:38.5%;
  background-color: white;
  margin: 40px auto;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
}

.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.input{
  display: block;
  width: 80%;
  margin: 22px auto;
  padding: 5px;
  align-items: center;
  border-color: rgb(233, 230, 230);
  border-style: solid;
  border-width: thin;
}

.textarea{
  height:160px
}

.textarea::placeholder {
  text-align:left;
  transform: translateY(-65px);
}
         
.btngrad {
  background-image: linear-gradient(to right, #e57e7c, #9c3132);
  margin: 10px;
  padding: 8px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 2px;
  border: none;
  display: block;
  margin: auto;
  font-weight: bold
}

.btngrad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.note{
  text-align: center;
  width: 80%;
  margin: auto
}
